$purple: #1c1028;
$green: #53827f;

.btn {
	margin: 20px;
	font-size: 12px;
	vertical-align: middle;
	// font-family: "Josefin Sans", sans-serif;
}

.btn:hover {
	font-size: 14px;
	color: white;
	vertical-align: baseline;
}

.btn-purple {
	width: 180px;
	height: 45px;
	color: white;
	background-color: $purple;
	outline: none;
	cursor: pointer;
	transition: all .4s;
}

.btn-green {
	width: 180px;
	height: 45px;
	color: white;
	background-color: $green;
	outline: none;
	cursor: pointer;
	transition: all .4s;
	border: none;
}

.btn-green:hover {
	background-color: $purple;
}
