.logo {
	width: 50%;
	height: auto;
	margin-left: 25%;
}

.acess1 {
	display: inline-block;
	flex-direction: row;
	padding-left: 30px;
	align-items: center;
	margin-left: 25%;
	margin-bottom: 5%;
	margin-top: -15%;
}

.entire-screen {
	background-image: url('../images/people.jpeg');
	background-size: cover;
	background-ex: -1;
	overflow: visible;
}
