$purple: #1c1028;
$green: #53827f;

body {
	height: 100%;
	width: 100%;
	background-color: #3a4042;
	color: white;
	font-family: "Josefin Sans", sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 1.5px;
}

h1 {
	font-size: 16px;
	margin-left: 5%;
}

h2 {
	font-size: 14px;
	margin-left: 5%;
}

.navbar {
	background-color: $purple;
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 1200px;
	margin-right: 0px;
}

.maincontainer {
	display: flex;
	flex-direction: row;
}

.maintext {
	margin-top: 10%;
	font-size: 14px;
	border: none;
	padding: 10px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	width: 140%;
	align-items: middle;
}
