$purple: #1c1028;
$green: #53827f;
$dark-grey: #3a4042;

.login {
	background-color: $dark-grey;
	margin-left: 35%;
	margin-top: 8%;
	width: 400px;
	height: 500px;
	border: solid 1px white;
	// padding: 20px;
	// padding-top: 50px;
	padding-bottom: 50px;
}

.icon {
	margin-left: 25%;
	height: 200px;
}

.row {
	background-color: $dark-grey;
	border: none;
	color: white;
	width: 300px;
	margin-left: 5%;
	margin-right: 5%;
	align-items: baseline;
}

.login-input {
	background-color: $dark-grey;
	border: none;
	color: white;
	width: 95%;
	border-bottom: white solid 1px;
	margin-bottom: 10%;
}
