$green: #53827f;

.card {
	background-color: $green;
	color: white;
	width: 350px;
}

#profile_img {
	// display: inline;
	margin-right: 5%;
	margin-left: 5%;
	border-radius: 20%;
	margin-top: -8%;
}

.Chatbox {
	position: fixed;
	right: 10px;
	top: 5%;
	width: 350px;
	border: 1px solid #ccc;
}
