$purple: #1c1028;
$green: #53827f;

.card {
	height: auto;
	width: 300px;
	margin: 5%;
	font-size: 14px;
}

.card-title {
	margin-top: 5%;
	color: $purple;
}

.card-text {
	margin: 3%;
	padding-bottom: 5%;
}

.card-image {
	background-image: url('../images/default_project.jpg');
	background-size: cover;
}
